body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../../img/new/container_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1021px;
    height:31px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1021px;
    height:31px;
}

.u1 {
    position:absolute;
    left:2px;
    top:8px;
    width:1017px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../../img/new/container_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:21px;
    top:53px;
    width:980px;
    height:95px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:95px;
}

.u3 {
    position:absolute;
    left:2px;
    top:40px;
    width:976px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../../img/new/container_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:21px;
    top:168px;
    width:980px;
    height:37px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:37px;
}

.u5 {
    position:absolute;
    left:2px;
    top:10px;
    width:976px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:21px;
    top:168px;
    width:984px;
    height:473px
}

.u7_normal {
    background-image: url('../../img/new/container_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:144px;
    height:37px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:43px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:140px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../../img/new/container_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:144px;
    top:0px;
    width:202px;
    height:37px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:43px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:198px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../../img/new/container_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:346px;
    top:0px;
    width:144px;
    height:37px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:43px;
}

.u12 {
    position:absolute;
    left:2px;
    top:8px;
    width:140px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../../img/new/container_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:490px;
    top:0px;
    width:175px;
    height:37px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:43px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:171px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../../img/new/container_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:665px;
    top:0px;
    width:119px;
    height:37px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:43px;
}

.u16 {
    position:absolute;
    left:2px;
    top:8px;
    width:115px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../../img/new/container_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:784px;
    top:0px;
    width:110px;
    height:37px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:43px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../../img/new/container_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:894px;
    top:0px;
    width:85px;
    height:37px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:43px;
}

.u20 {
    position:absolute;
    left:2px;
    top:8px;
    width:81px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../../img/new/container_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:37px;
    width:144px;
    height:35px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:41px;
}

.u22 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../../img/new/container_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:144px;
    top:37px;
    width:202px;
    height:35px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:41px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../../img/new/container_files/u21_normal.png');
}

.u25_container {
    position:absolute;
    left:346px;
    top:37px;
    width:144px;
    height:35px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:41px;
}

.u26 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../../img/new/container_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:490px;
    top:37px;
    width:175px;
    height:35px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:41px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../../img/new/container_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:665px;
    top:37px;
    width:119px;
    height:35px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:41px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../../img/new/container_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:784px;
    top:37px;
    width:110px;
    height:35px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:41px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../../img/new/container_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:894px;
    top:37px;
    width:85px;
    height:35px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:41px;
}

.u34 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:72px;
    width:144px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:144px;
    top:72px;
    width:202px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u38 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u39_container {
    position:absolute;
    left:346px;
    top:72px;
    width:144px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:490px;
    top:72px;
    width:175px;
    height:36px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:665px;
    top:72px;
    width:119px;
    height:36px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u44 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:784px;
    top:72px;
    width:110px;
    height:36px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u46 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:894px;
    top:72px;
    width:85px;
    height:36px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:108px;
    width:144px;
    height:36px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u50 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u51_container {
    position:absolute;
    left:144px;
    top:108px;
    width:202px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u53_container {
    position:absolute;
    left:346px;
    top:108px;
    width:144px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u55_container {
    position:absolute;
    left:490px;
    top:108px;
    width:175px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u57_container {
    position:absolute;
    left:665px;
    top:108px;
    width:119px;
    height:36px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u59_container {
    position:absolute;
    left:784px;
    top:108px;
    width:110px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u61_container {
    position:absolute;
    left:894px;
    top:108px;
    width:85px;
    height:36px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:144px;
    width:144px;
    height:36px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u65_container {
    position:absolute;
    left:144px;
    top:144px;
    width:202px;
    height:36px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u66 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u67_container {
    position:absolute;
    left:346px;
    top:144px;
    width:144px;
    height:36px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u69_container {
    position:absolute;
    left:490px;
    top:144px;
    width:175px;
    height:36px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u71_container {
    position:absolute;
    left:665px;
    top:144px;
    width:119px;
    height:36px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u73_container {
    position:absolute;
    left:784px;
    top:144px;
    width:110px;
    height:36px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u74 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u75_container {
    position:absolute;
    left:894px;
    top:144px;
    width:85px;
    height:36px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u77_container {
    position:absolute;
    left:0px;
    top:180px;
    width:144px;
    height:36px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u78 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u79_container {
    position:absolute;
    left:144px;
    top:180px;
    width:202px;
    height:36px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u81_container {
    position:absolute;
    left:346px;
    top:180px;
    width:144px;
    height:36px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u82 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u83_container {
    position:absolute;
    left:490px;
    top:180px;
    width:175px;
    height:36px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u85_container {
    position:absolute;
    left:665px;
    top:180px;
    width:119px;
    height:36px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u86 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u87_container {
    position:absolute;
    left:784px;
    top:180px;
    width:110px;
    height:36px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u88 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u89_container {
    position:absolute;
    left:894px;
    top:180px;
    width:85px;
    height:36px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u90 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:216px;
    width:144px;
    height:36px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u92 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u93_container {
    position:absolute;
    left:144px;
    top:216px;
    width:202px;
    height:36px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u94 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u95_container {
    position:absolute;
    left:346px;
    top:216px;
    width:144px;
    height:36px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u96 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u97_container {
    position:absolute;
    left:490px;
    top:216px;
    width:175px;
    height:36px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u98 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u99_container {
    position:absolute;
    left:665px;
    top:216px;
    width:119px;
    height:36px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u100 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u101_container {
    position:absolute;
    left:784px;
    top:216px;
    width:110px;
    height:36px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u102 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u103_container {
    position:absolute;
    left:894px;
    top:216px;
    width:85px;
    height:36px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u104 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:252px;
    width:144px;
    height:36px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u106 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u107_container {
    position:absolute;
    left:144px;
    top:252px;
    width:202px;
    height:36px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u108 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u109_container {
    position:absolute;
    left:346px;
    top:252px;
    width:144px;
    height:36px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u110 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u111_container {
    position:absolute;
    left:490px;
    top:252px;
    width:175px;
    height:36px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u112 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u113_container {
    position:absolute;
    left:665px;
    top:252px;
    width:119px;
    height:36px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u114 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u115_container {
    position:absolute;
    left:784px;
    top:252px;
    width:110px;
    height:36px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u116 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u117_container {
    position:absolute;
    left:894px;
    top:252px;
    width:85px;
    height:36px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u118 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u119_container {
    position:absolute;
    left:0px;
    top:288px;
    width:144px;
    height:36px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u120 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u121_container {
    position:absolute;
    left:144px;
    top:288px;
    width:202px;
    height:36px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u122 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u123_container {
    position:absolute;
    left:346px;
    top:288px;
    width:144px;
    height:36px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u124 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u125_container {
    position:absolute;
    left:490px;
    top:288px;
    width:175px;
    height:36px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u126 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u127_container {
    position:absolute;
    left:665px;
    top:288px;
    width:119px;
    height:36px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u128 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u129_container {
    position:absolute;
    left:784px;
    top:288px;
    width:110px;
    height:36px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u130 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u131_container {
    position:absolute;
    left:894px;
    top:288px;
    width:85px;
    height:36px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u132 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:324px;
    width:144px;
    height:36px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u134 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u135_container {
    position:absolute;
    left:144px;
    top:324px;
    width:202px;
    height:36px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u136 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u137_container {
    position:absolute;
    left:346px;
    top:324px;
    width:144px;
    height:36px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u138 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u139_container {
    position:absolute;
    left:490px;
    top:324px;
    width:175px;
    height:36px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u140 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u141_container {
    position:absolute;
    left:665px;
    top:324px;
    width:119px;
    height:36px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u142 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u143_container {
    position:absolute;
    left:784px;
    top:324px;
    width:110px;
    height:36px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u144 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u145_container {
    position:absolute;
    left:894px;
    top:324px;
    width:85px;
    height:36px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u146 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u147_container {
    position:absolute;
    left:0px;
    top:360px;
    width:144px;
    height:36px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u148 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u149_container {
    position:absolute;
    left:144px;
    top:360px;
    width:202px;
    height:36px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u150 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u151_container {
    position:absolute;
    left:346px;
    top:360px;
    width:144px;
    height:36px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u152 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u153_container {
    position:absolute;
    left:490px;
    top:360px;
    width:175px;
    height:36px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u154 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u155_container {
    position:absolute;
    left:665px;
    top:360px;
    width:119px;
    height:36px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u156 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u157_container {
    position:absolute;
    left:784px;
    top:360px;
    width:110px;
    height:36px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u158 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u159_container {
    position:absolute;
    left:894px;
    top:360px;
    width:85px;
    height:36px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u160 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u161_container {
    position:absolute;
    left:0px;
    top:396px;
    width:144px;
    height:36px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u162 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u163_container {
    position:absolute;
    left:144px;
    top:396px;
    width:202px;
    height:36px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u164 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u165_container {
    position:absolute;
    left:346px;
    top:396px;
    width:144px;
    height:36px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u166 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u167_container {
    position:absolute;
    left:490px;
    top:396px;
    width:175px;
    height:36px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u168 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u169_container {
    position:absolute;
    left:665px;
    top:396px;
    width:119px;
    height:36px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u170 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u171_container {
    position:absolute;
    left:784px;
    top:396px;
    width:110px;
    height:36px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u172 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u173_container {
    position:absolute;
    left:894px;
    top:396px;
    width:85px;
    height:36px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u174 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u175_container {
    position:absolute;
    left:0px;
    top:432px;
    width:144px;
    height:36px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u176 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../../img/new/container_files/u37_normal.png');
}

.u177_container {
    position:absolute;
    left:144px;
    top:432px;
    width:202px;
    height:36px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:208px;
    height:42px;
}

.u178 {
    position:absolute;
    left:2px;
    top:10px;
    width:198px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../../img/new/container_files/u35_normal.png');
}

.u179_container {
    position:absolute;
    left:346px;
    top:432px;
    width:144px;
    height:36px;
}

#u179_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:42px;
}

.u180 {
    position:absolute;
    left:2px;
    top:10px;
    width:140px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../../img/new/container_files/u41_normal.png');
}

.u181_container {
    position:absolute;
    left:490px;
    top:432px;
    width:175px;
    height:36px;
}

#u181_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:181px;
    height:42px;
}

.u182 {
    position:absolute;
    left:2px;
    top:10px;
    width:171px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../../img/new/container_files/u43_normal.png');
}

.u183_container {
    position:absolute;
    left:665px;
    top:432px;
    width:119px;
    height:36px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:125px;
    height:42px;
}

.u184 {
    position:absolute;
    left:2px;
    top:10px;
    width:115px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../../img/new/container_files/u45_normal.png');
}

.u185_container {
    position:absolute;
    left:784px;
    top:432px;
    width:110px;
    height:36px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:42px;
}

.u186 {
    position:absolute;
    left:2px;
    top:10px;
    width:106px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../../img/new/container_files/u47_normal.png');
}

.u187_container {
    position:absolute;
    left:894px;
    top:432px;
    width:85px;
    height:36px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:91px;
    height:42px;
}

.u188 {
    position:absolute;
    left:2px;
    top:10px;
    width:81px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:36px;
    top:648px;
    width:409px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:33px;
    top:71px;
    width:64px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:33px;
    top:111px;
    width:64px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:322px;
    top:71px;
    width:64px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:322px;
    top:111px;
    width:64px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:522px;
    top:71px;
    width:64px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:522px;
    top:111px;
    width:64px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_container {
    position:absolute;
    left:764px;
    top:67px;
    width:70px;
    height:34px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:34px;
}

.u197 {
    position:absolute;
    left:2px;
    top:9px;
    width:66px;
    height:16px;



    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:100px;
    top:66px;
    width:204px;
    height:25px;


    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u199 {
    position:absolute;
    left:100px;
    top:106px;
    width:204px;
    height:25px;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u200 {
    position:absolute;
    left:389px;
    top:67px;
    width:111px;
    height:22px;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u201 {
    position:absolute;
    left:389px;
    top:107px;
    width:111px;
    height:22px;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u202_normal {
    background-image: url('../../img/new/container_files/u202_normal.png');
}

.u202_container {
    position:absolute;
    left:837px;
    top:67px;
    width:91px;
    height:30px;
}

#u202_img {
    position:absolute;
    left:0px;
    top:0px;
    width:91px;
    height:30px;
}

.u203 {
    position:absolute;
    left:2px;
    top:7px;
    width:87px;
    height:16px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204 {
    position:absolute;
    left:588px;
    top:66px;
    width:151px;
    height:25px;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u205 {
    position:absolute;
    left:588px;
    top:106px;
    width:151px;
    height:25px;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u206 {
    position:absolute;
    left:784px;
    top:72px;
    width:39px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:857px;
    top:72px;
    width:52px;
    height:20px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:17px;
    top:8px;
    width:200px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

